.typewriter-container {
  padding-top: 30vh;
  padding-bottom: 30vh;
  padding-left: 10vw;
  min-height: 20em;
}

.blinking-cursor {
  position: absolute;
  color: brown;
  animation: blink 1s step-end infinite;
  transform: translate(0,-7%);
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}