.navbar {
  position: fixed;
  background-color: #333;
  width: 100%;
  height:5%;
  background-color: rgb(16,16,16);
  z-index: 9999;
}

.container {
  display: flex;
  height: 100%;
}

.logo {
  color: white;
  text-decoration: none;
}

.nav-links {
  display:flex;
  width: 100%;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  height:100%;
}

.nav-links a{
  display:flex;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
  height:100%;
  align-items: center;
  padding-left:16px;
  padding-right:16px;
}

.nav-links button{
  display:flex;
  all: unset;
  cursor: pointer;
  height:100%;
  transition: color 0.3s ease;
  padding-left:16px;
  padding-right:16px;
}

.nav-links a:hover {
  color: brown;
}

.nav-links button:hover {
  color: brown;
}